/*  ||| Universal |||  */


/*TBC TBCTBCTBCTBCTBCTBCTBCTBCTBC */

 :root {
    --feather: -15vh;
    --height: 90vh;
    --cellgdir: row;
}


/*  ||| Header |||  */


/*  || Header element ||  */

header {
    background-image : linear-gradient(to right,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0),rgba(255, 255, 255, 0.6));
    z-index: 10;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    animation: headerenter 1s ease-in-out forwards;
    /* TBC put 3.7s here*/
    animation-delay: 3.7s;
    opacity: 0;
}


/*  | Brings header placeholder  |  */

@keyframes headerenter {
    from {
        position: fixed;
        top: 0;
    }
    to {
        position: fixed;
        opacity: 1;
        top: 0;
    }
}


/*  || Logo ||  */

header .left {
    float: left;
    width: 0;
    height: 60px;
    line-height: 55px;
    font-size: 15px;
    text-align: center;
    font-family: "MS Reference Sans Serif";
    color: rgb(123, 206, 0);
    overflow: hidden;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: -10px -5px 5px black inset;
    animation: lenstag 1s cubic-bezier(0.22, 0.5, 0.56, 1.98) forwards;
    animation-delay: 3.7s;
}

@keyframes lenstag {
    to {
        width: 300px;
    }
}


/*  || Menu List ||  */

header a {
    float: right;
    padding: 0 1vw;
    line-height: 60px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Yatra One', cursive;
    color: white;
    transition-duration: 0.5s;
}

header a:hover {
    padding: 0 3vw;
    font-size: 20px;
    background-color: #ff3232b9;
    text-shadow: 5px 5px 5px #000000;
}

header .menuicon {
    display: none;
    box-sizing: border-box;
    float: right;
    height: 60px;
    padding: 15px;
    font-size: 30px;
    color: white;
    transition-duration: 0.5s;
}

header .invisible {
    display: none;
}


/*  ||| Navigation List |||  */


/*  || Navigation element ||  */

#navi-bar {
    display: none;
}


/*  ||| Page |||  */


/*  || Page element ||  */

#page {
    width: 0;
    height: 0;
    position: absolute;
    animation: pageenter 1ms forwards;
    /*TBC Change to 3.699s*/
    animation-delay: 3.699s;
}


/*  | Brings page placeholder  |  */

@keyframes pageenter {
    from {
        display: none;
        position: absolute;
    }
    to {
        width: 100%;
        height: 100%;
        position: static;
        display: block;
    }
}


/*  || Quote container ||  */

#quote-container {
    width: 100%;
    height: var(--height);
    position: relative;
    overflow: hidden;
    /* To remove spaces above it because it's a block element */
    display: inline-block;
    background-image: url("./Media/Gem-min.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*  || Quote Text ||  */

#quote-text {
    position: absolute;
    display: inline-block;
    bottom: 2vh;
    right: 10px;
    color: white;
    font-size: 4vh;
    font-family: 'Yatra One', cursive;
    font-style: oblique;
    text-shadow: 0.5vw 0.5vw 0.5vw black;
    opacity: 0;
    transform: translateX(100%);
    transition-duration: 0.5s;
    animation: quotewipein 0.5s cubic-bezier(0.99, 1.57, 0.72, 1.34) forwards;
    /* TBC 4.7s*/
    animation-delay: 4.2s;
}


/*  | Wipein quote |  */

@keyframes quotewipein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
        transform: translateX(0);
    }
}


/*  || Container ||  */

.container {
    padding-top: 10vw;
    font-family: "Eras ITC";
    overflow: hidden;
}

.container h1 {
    color: rgb(109, 173, 13);
    text-align: center;
    margin: 0;
}

.separator {
    margin: 5vw 0;
    width: 100%;
}

.cells {
    display: flex;
    flex-direction: var(--cellgdir);
    align-items: center;
}

.cellsg {
    display: flex;
    width: 50%;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.lang1 {
    width: 66.6666%;
}

.lang2 {
    width: 33.3333%;
}

.cell {
    padding: 4vw;
    width: 50%;
    color: honeydew;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.25s;
}

.lang2 .cell {
    width: 100%;
}

.cell:hover {
    flex: 1.5 0 1;
    transform: scale(1.5);
    color: rgb(104, 123, 231);
}

.cell span {
    font-size: 5vh;
    text-align: center;
}


/*  || Projects || */

.gallery div {
    background-image: url(./Media/gallery.png);
}

.clock div {
    background-image: url(./Media/clock.png);
}

.typewriter div {
    background-image: url(./Media/typewriter.png);
}

.thumb {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.proj.cell:hover {
    flex: 1.1 0 1;
    transform: scale(1.1);
    color: rgb(104, 123, 231);
    text-shadow: 5px 5px 5px #000000;
}

.proj a {
    text-decoration: none;
}


/*  || About || */

.about {
    font-size: 20px;
    color: honeydew;
}

.about .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about .left {
    width: 40%;
}

.about .mid {
    width: 30%;
    display: flex;
    justify-content: center;
}

#mypic {
    height: 400px;
    background: url("./Media/mypic.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about .right p {}


/*  || Footer || */

#contact {
    opacity: 0;
    height: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    animation: footerenter 1ms normal 3.699s forwards;
    font-size: 0;
}

@keyframes footerenter {
    to {
        opacity: 1;
        height: 250px;
        font-size: 20px;
        position: static;
        display: inline-block;
    }
}

#contact .halves {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-logo img {
    width: 20%;
    transition-duration: 0.25s;
}

#footer-logo img:hover {
    transform: scale(1.1);
}

#contact .contact {
    font-family: "Eras ITC";
    color: white;
    margin: 1%;
}

.contact a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

#copyright {
    height: 20%;
    color: rgb(97, 97, 97);
    text-align: center;
}

@media (max-width:1000px) {
     :root {
        --feather: -11vh;
        --height: 70vh;
    }
    header a {
        display: none;
    }
    header .menuicon {
        display: block;
    }
    #navi-bar {
        display: block;
        position: fixed;
        right: 0;
        top: 60px;
        height: 100vh;
        width: 40vw;
        z-index: 15;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        transform: translateX(100%);
        transition-timing-function: linear;
        transition-duration: 0.5s;
    }
    #navi-bar.open {
        transform: translateX(0%);
    }
    #closeicon {
        box-sizing: border-box;
        float: right;
        padding: 15px;
        color: white;
    }
    .navig {
        width: 100%;
        height: 60px;
        font-size: 30px;
    }
    .navig-items {
        line-height: 60px;
        font-family: "Eras ITC";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navig a {
        text-decoration: none;
        color: rgb(113, 189, 0);
    }
}

@media (max-width:670px) {
     :root {
        --feather: -8vh;
        --height: 50vh;
        --cellgdir: column;
    }
    .cellsg {
        width: 100%;
    }
    #navi-bar {
        width: 50vw;
    }
    #about .box {
        flex-direction: column;
    }
    #about .box * {
        width: 100%;
    }
}

@media (max-width:500px) {
    #navi-bar {
        width: 80vw;
    }
}