.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}

svg {
  display: none;
}

.loader-container,
.spinner-container {
  width: 50%;
  height: 50%;
  position: relative;
  filter: url(#gooey);
}

.loader-container > * {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 4rem;
  height: 4rem;
  background: #1ee4f2;
  top: 25%;
  border-radius: 50%;
  animation: loading 4s infinite;
  transform: scale(0.1);
  opacity: 0;
}
.loader-container > *:nth-child(1) {
  animation-delay: 0.5s;
}
.loader-container > *:nth-child(2) {
  animation-delay: 1s;
}
.loader-container > *:nth-child(3) {
  animation-delay: 1.5s;
}
.loader-container > *:nth-child(4) {
  animation-delay: 2s;
}

@keyframes loading {
  50% {
    transform: scale(1.25);
    left: 50%;
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    left: 100%;
    opacity: 0;
  }
}
.spinner-path {
  position: relative;
  left: 25%;
  top: 50%;
  width: 10rem;
  height: 10rem;
}
.spinner-path > * {
  animation: spinner 3s infinite;
}
.spinner-path > *:after {
  content: " ";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.spinner-path > *:nth-child(1) {
  animation-delay: 0.5s;
}
.spinner-path > *:nth-child(1):after {
  background: #4285f4;
}
.spinner-path > *:nth-child(2) {
  animation-delay: 1s;
}
.spinner-path > *:nth-child(2):after {
  background: #db4437;
}
.spinner-path > *:nth-child(3) {
  animation-delay: 1.5;
}
.spinner-path > *:nth-child(3):after {
  background: #f4b400;
}
.spinner-path > *:nth-child(4) {
  animation-delay: 2s;
}
.spinner-path > *:nth-child(4):after {
  background: #0f9d58;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.credit {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
  color: black;
}
.credit .credit--link {
  color: #1565c0;
  text-decoration: none;
  cursor: pointer;
}
.credit .credit--link:hover {
  text-decoration: underline;
}
