
body {
  background: url("cloud.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  color: black;
  text-align: center;
}
body p {
  font-size: 27px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
}
body h1 {
  color: rgb(9, 30, 51);
  font-weight: 800;
  font-size: 40px;
}
