* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../images/back5.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

.input {
  text-align: center;
  margin-bottom: 20px;
}
input[type="text"] {
  height: 50px;
  width: 600px;
  background: whitesmoke;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  padding: 10px, 10px;
  margin-top: 100px;
  text-align: center;
}
input[type="submit"] {
  height: 50px;
  width: 130px;
  background: grey;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: 10px, 10px;
  margin-top: 100px;
}
.place_info {
  text-align: center;
  color: rgb(251, 252, 245);
  font-size: 25px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px black;
  border-radius: 30px;
  margin-bottom: 30px;
  visibility: hidden;
}
.column {
  float: left;
  width: 19%;
  padding: 5px;
  height: 280px;
  border: 0px solid black;
  padding: 7px;
  box-shadow: 5px 10px black;
  margin: 7px;
  color: white;
  font-size: 20px;
  margin-left: 8px;
}

.row::after {
  content: "";
  display: auto;
  clear: both;
}
